.features {
  padding-top: 94px;
  padding-bottom: 47px;

  &__item:not(:first-child) {
    margin-left: 30px;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background: var(--moz-background-team);
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &__pretitle {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    width: 270px;
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
