.hero {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: url(../images/index/Img\ Overlay.png),
    url(../images/hero/hero-mob-1x-480.jpg);
  padding: 118px 0;
  text-align: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/hero/hero-mob-2x-960.jpg);
    }
  }

  &__title {
    color: var(--primary-title-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto 30px;
    max-width: 360px;
  }

  &__btn {
    color: var(--primary-title-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__btn:hover,
  &__btn:focus {
    background-color: var(--background-color-btn);
  }
}
