.hero {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: url(../images/index/Img\ Overlay.png),
    url(../images/index/hero.jpg);
  padding: 200px 0;
  text-align: center;
  background-size: cover;

  &__title {
    color: var(--primary-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto 30px;
    max-width: 696px;
  }

  &__btn {
    color: var(--primary-title-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__btn:hover,
  &__btn:focus {
    background-color: var(--background-color-btn);
  }
}
