.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.no-scroll {
  overflow: hidden;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: var(--primary-title-color);
  fill: var(--tetriary-text-color);
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 40px;
  width: 530px;
  height: 580px;
  background: var(--primary-title-color);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-title {
  width: 448px;
  height: 23px;
  margin-bottom: 12px;
  color: var(--primary-text-color);
  font-size: 20px;
  line-height: 0.86;
  text-align: center;
  letter-spacing: 0.03em;
}

.btn-submit {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-title-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  margin: auto;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--background-color-btn);
  }
}

.input-wrap {
  position: relative;
  margin-top: 4px;
  height: 40px;
}

.modal-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.modal-field-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal-field-check {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-link {
  margin-left: 10px;
  color: var(--accent-color);
}

.modal-input {
  border: none;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 5px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form input:focus,
.modal-form input:hover {
  border: 1px solid var(--accent-color);
}

.modal-form input:focus + svg,
.modal-form input:hover + svg {
  fill: var(--accent-color);
}

.modal-field .error {
  color: red;
  display: none;
}

.modal-field-comment textarea {
  border: none;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 5px 5px 16px;
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-comment textarea:focus,
.modal-field-comment textarea:hover {
  border: 1px solid var(--accent-color);
}

.checkbox-title {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-check {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.modal-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin-right: 9px;
}

.modal-field-check input:checked + label .modal-checkbox {
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
}
