.team {
  max-width: 100%;
  background-color: var(--moz-background-team);
  padding: 60px 0;

  @media screen and (min-width: 768px) {
    max-width: 100%;
  }

  @media screen and (min-width: 1200px) {
    max-width: 100%;
    padding: 94px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
      align-content: space-between;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 3 * 30px) / 4);
      flex-direction: column;
      min-width: 270px;
      max-width: 270px;
      height: 429px;
    }
  }

  &__title {
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }

  &__item {
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
      0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;

    // &:not(:last-child) {
    //   margin-bottom: 30px;
    // }

    @media screen and (min-width: 480px) {
      max-width: 450px;
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
      max-width: 354px;
    }
  }
}

.team-card {
  padding: 30px 0;

  &__pretitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__description {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 10px;
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
  }

  &__item {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--accent-color);
  }

  &__link:hover svg,
  &__link:focus svg {
    fill: var(--primary-title-color);
  }

  &__icon {
    fill: var(--primary-svg-color);
  }

  &__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
