html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 2px solid tomato; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-title-color);
}
