:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --tetriary-text-color: #000000;
    --primary-title-color: #ffffff;
    --description-text: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
    --background-color-hero: #2f303a;
    --background-color-btn: #188ce8;
    --moz-background-team: #f5f4fa;
    --border-bottom-color: #ececec;
    --border-portfolio: #eeeeee;
    --primary-svg-color: #afb1b8;
}